<p>here is some intro text about my representative assignments.</p>
<ul>
    <li>Digital Collection & Metadata Profile: <a href="" target="_blank">Wild Women Omeka Exhibit</a></li>
    <li>Metadata Application Profile & RDF/XML Code Samples: <a href="#" target="_blank">MUA Makeup Metadata</a></li>
    <li>Reflection Paper: <a href="/assets/personal-narratives-inclusive-library-collections.pdf" target="_blank">Reflections on the Importance of Personal Stories & Narratives in Inclusive Library Collections</a></li>
    <li>Research Paper: <a href="/assets/Alexander_Diamond_Culminating-Project.pdf" target="_blank">Electronic Finding Aids: The Power of Presentation</a></li>
    <li>Reflection Paper: <a href="/assets/observations-large-scale-discovery-platforms.pdf" target="_blank">Observations on Resource Discovery in Large-Scale Digital Libraries</a></li>
    <li>Research Paper: <a href="/assets/creating-metadata-for-childrens-materials.pdf" target="_blank">Creating Metadata for Children's Materials</a></li>
</ul>