---
layout: 'base.njk'
---
{% include 'parts/homepage-header.njk' %}
<div class="row justify-content-center">
    <div class="col">
        <main>
            {{ content | safe }}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                {% include 'parts/project-grid.njk' %}
            </div>
        </main>
    </div>
</div>
