---
layout: "base.njk"
---
<div class="container">
  {% include 'parts/breadcrumbs.njk' %}
  <h2 class="project-heading">{{ title }}</h2>
  <div>
    {{ content | safe }}
    <a href="{{ projectArtifact }}" target="_blank">View {{ projectType }}</a>
  </div>
</div>