<article class="project-card">
    <div class="project-card__body">
      <h3 class="project-card__title">
        <a href="{{ project.url }}">{{ project.data.title }}</a>
      </h3>
      <p class="project-card__description">{{ project.data.description }}</p>
      <a class="project-card__link" href="{{ project.url }}">View project</a>
    </div>
</article>
  