---
layout: "base.njk"
---
<div class="container col-xxl-10 px-4 py-2">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
      {% include 'parts/breadcrumbs.njk' %}
      {% include 'parts/project-header.njk' %}
    <div id="project-content">
      {{ content | safe }}
    </div>
    </div>
  </div>