<div class="container col-xxl-10 px-4 py-2">
    {% include 'parts/default-page-header.njk' %}
</div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    {% include 'parts/project-grid.njk' %}
</div>