<div class="px-0 mx-auto breadcrumb-container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-chevron p-3">
        <li class="breadcrumb-item">
          <a class="link-body-emphasis fw-semibold text-decoration-none" href="/projects/">Projects</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="{{ project.url }}">{{ title }}</a>
        </li>
      </ol>
    </nav>
  </div>