<section class="px-4 mt-0 mb-4 pb-4 text-center container border-bottom">
    <div class="row py-4">
      <div class="col-md-8 mx-auto">
        <h1>{{ title }}</h1>
        <p class="lead text-body-secondary">{{ description }}</p>
      </div>
    </div>
  </section>