<header class="d-flex flex-wrap justify-content-center align-items-center pt-2 mb-4 border-bottom">
  <a href="/" class="d-flex pb-2 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <span class="h2 nav-title">Diamond Alexander</span>
  </a>

  <ul class="nav nav-pills pb-2">
    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
    <li class="nav-item"><a href="/projects/" class="nav-link">Projects & Academic Work</a></li>
    <li class="nav-item"><a href="/about/" class="nav-link">About</a></li>
    <li class="nav-item"><a href="mailto:diamondlib@protonmail.com" target="_blank" class="nav-link">Contact</a></li>
  </ul>
</header>