<header>
    <section class="py-3 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1>Diamond Alexander, MA</h1>
            <p class="text-body-emphasis">MLIS Candidate, June 2024</p>
            <p class="lead text-body-secondary">{{ description }}</p>
          </div>
        </div>
      </section>
</header>