<p><a href="/assets/mua-metadata-slide-2.png" target="_blank">About the Collection (Lightning Talk Slide)</a></p>
<p><a href="/assets/mua-metadata-slide-3.png" target="_blank">Application Profile Summary (Lightning Talk Slide)</a></p>
<p><a href="/assets/mua-metadata-slide-4.png" target="_blank">Sample RDF Record (Lightning Talk Slide)</a></p>
<p><a href="/assets/mua-makeup-records.rdf" target="_blank">Full Collection (RDF/XML file)</a></p>