<div class="px-4 mt-0 mb-4 pb-4 text-center border-bottom">
    <div class="col-md-10 mx-auto">
        <h1 class="display-5 fw-bold text-body-emphasis">{{ title }}</h1>
    </div>
    <div class="col-md-8 mx-auto">
        <p class="lead mb-4">{{ description }}</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="{{ projectArtifact }}" target="_blank" role="button" class="btn btn-primary btn-lg px-4 me-sm-3">View {{ projectType }}</a>
            <a href="#project-content" role="button" class="btn btn-outline-secondary btn-lg px-4">Scroll to Details</a>
        </div>
    </div>
</div>
