<div class="col">
  <div class="card h-100">
    <a href="{{ project.url }}"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt=""></a>
    <div class="card-body">
      <a href="{{ project.url }}"><h5 class="card-title">{{ project.data.title }}</h5></a>
      <p class="card-text">{{ project.data.description }}</p>
      <a class="card-link" href="{{ project.url }}">View project</a>
    </div>
</div>
</div>