body {
    background-color: #f8f3ed;
    color: #333;
    font-family: "DM Sans", sans-serif!important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal; */
}

a {
    color: #c35500;
}

a:hover {
    color: #a84900;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

h1, h2, h3, h4, .nav-title {
    /* font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal; */
    color: #c35500;
    font-family: "Crimson Pro", serif!important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.breadcrumb-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* BUTTONS */

.btn-primary, .btn-secondary, .btn-outline-secondary {
    outline-offset: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    width: auto;
    min-width: 150px;
    padding: 12px;
    font-family: DM Sans, Arial, sans-serif;
    font-size: .85rem;
    font-weight: 500;
    border-radius: 4px;
}

.btn-primary {
    background-color: #6C0345;
    border-color: #6C0345;
    /* background-color: #c35500;
    border-color: #c35500; */
}

.btn-primary:hover {
    background-color: #840455;
    border-color: #840455;
    /* background-color: #a84900;
    border-color: #a84900; */
}

.btn:first-child:active {
    background-color: #6C0345;
    border-color: #6C0345;
}

.btn-secondary {
    /* background-color: #796e5b; */
    background-color: #948c7e;
    border-color: #948c7e;
}

.btn-outline-secondary {
    border-color: #796e5b;
    color: #796e5b;
    /* border-color: #948c7e;
    color: #948c7e; */
}

.btn-outline-secondary:hover {
    /* background-color: #796e5b; */
    background-color: #948c7e;
    border-color: #948c7e;
}

:not(.btn-check)+.btn:active {
    border-color: #796e5b;
    background-color: #796e5b;
}

/* NAVIGATION MENU */

.nav-title {
    padding: 8px 16px;
}

.nav-link, #project-content a {
    color: #333333; 
}

.nav-link:hover, #project-content a:hover {
    color: #212529bf;
}

/* HOMEPAGE */

.vh-75 {
    height: 75vh;
}

.homepage-alt {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: none;
    display: flex;
}

.homepage-callout-title {
    font-weight: 600;
}

.homepage-callout p {
    font-size: 1em;
    font-weight: 500;
}

.homepage-callout-icons svg {
    width: 20px;
    height: 20px;
}

/* PROJECT CARDS */

.project-card-image {
    height: 225px; 
    object-fit: cover; 
    object-position: top center;
}

.card-text {
    font-size: 1em;
}

.card a {
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

.card-footer {
    background-color: inherit;
    border-top-color: #ededed;
}

.card-footer a {
    color: #6C0345;
}

.card-footer a:hover {
    color: #840455;
}

/* PROJECT PAGE */

#project-content h2:not(:first-child) {
    margin-top: 1em;
}

/* FOOTER */

footer svg, .homepage-callout-icons svg {
    color: #c35500;
    width: 20px;
    height: 20px;
}

footer svg:hover, .homepage-callout-icons svg:hover {
    color: #a84900;
}